.App {
  text-align: center;
}

body {
  color: black;
  background-color: white;
  transition: background-color 0.8s ease;
}

.dark-mode {
  color: lightgrey;
  background-color: #313843;
  transition: background-color 0.8s ease;
  transition: color 0.8s ease;
}

.card {
  border: 1px solid grey;
  margin: 20px;
  width: 400px;
  padding: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

span {
  font-size: 20px;
  color: gold;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  background-color: grey;
  border: 1px solid black;
}

